body {
  margin: 0;
  color: #333;
  padding: 20px;
  text-align: center;
  background: #f0f8ff;
  font-family: Arial, sans-serif;
}
.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  font-size: 2em;
  color: #007acc;
}
.controls {
  margin: 20px 0;
}
label {
  font-weight: bold;
  margin-right: 10px;
}
input[type="number"] {
  width: 50px;
  padding: 5px;
  text-align: center;
}
button {
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background: #007acc;
  border-radius: 5px;
}
button:hover {
  background: #005f99;
}
#tableContainer {
  margin-top: 20px;
  text-align: left;
}
table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}
td, th {
  padding: 8px;
  font-size: 20px;
  text-align: center;
  word-spacing: 30px;
  border: 1px solid #ddd;
}
tr:nth-child(even) {
  background: #f2f2f2;
}
tr:hover {
  background: #ddd;
}
th {
  color: white;
  background: #007acc;
}